<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IKNNService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/knn" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IKNNService" contract="Services.IKNNService"
                name="WSHttpBinding_IKNNService">
                <identity>
                    <userPrincipalName value="DESKTOP-AR6774D\zaza" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>